<main>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('./assets/img/banner1.PNG')">
        <div class="carousel-caption">
          <h5>Diversos consoles</h5>
          <p>Jogue na plataforma que quiser.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('./assets/img/banner2.PNG')">
        <div class="carousel-caption">
          <h5>Setups de todas as categorias</h5>
          <p>Monte de acordo com suas preferências.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('./assets/img/banner3.PNG')">
        <div class="carousel-caption">
          <h5>Entre no nosso mundo</h5>
          <p>A melhor loja na área!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1 class="display-2">Confira nossos produtos!</h1>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let produto of produtos">
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/{{produto.foto}}" alt="Jogo 1">

        <mat-card-header>
          <mat-card-title>{{produto.produto}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{produto.descricao}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>{{produto.preco | currency : 'BRL'}}</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
<script>
  $('.carousel').carousel({
    interval: 6000,
    pause: "false"
  });

</script>